@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: oklch(0.97 0.001 106.424);
  --accent-foreground: oklch(0.216 0.006 56.043);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-congress-blue-50: #F0F7FA;
  --color-congress-blue-100: #E1EFF5;
  --color-congress-blue-200: #B6D3E3;
  --color-congress-blue-300: #8EB8D4;
  --color-congress-blue-400: #4D81B3;
  --color-congress-blue-500: #1a4d91;
  --color-congress-blue-600: #154282;
  --color-congress-blue-700: #0E336E;
  --color-congress-blue-800: #0A2557;
  --color-congress-blue-900: #051942;
  --color-congress-blue-950: #020E2B;

  --color-stark-white-50: #FFFFFC;
  --color-stark-white-100: #FCFBF7;
  --color-stark-white-200: #FAF8F0;
  --color-stark-white-300: #F5F1E6;
  --color-stark-white-400: #EDE5D3;
  --color-stark-white-500: #e6d9c1;
  --color-stark-white-600: #CFBC9D;
  --color-stark-white-700: #AB8F6C;
  --color-stark-white-800: #8A6845;
  --color-stark-white-900: #664427;
  --color-stark-white-950: #422510;

  --font-montserrat: var(--font-montserrat);
  --font-lato: var(--font-lato);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Lato', sans-serif;
}